.cardContainer {
    display: flex;
    margin-top: 36px;
}

.note {
    cursor: pointer !important;
    margin: 12px !important;
}

.badge {
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

.badge:not(:last-child) {
    margin-right: 5px;
}



@media only screen and (max-width: 850px) {
    .cardContainer {
        flex-wrap: wrap;
    }
    .note {
        width: 300px !important;
    }
}

@media only screen and (max-width: 600px) {
    .note {
        width: 100% !important;
    }
}